DB_HOST=your-common-db-host
DB_USER=your-common-db-user
DB_PASSWORD=your-common-db-password
DB_NAME=your-common-db-name
DB_PORT=3306

STAR_DB_HOST=your-star-db-host
STAR_DB_USER=your-star-db-user
STAR_DB_PASSWORD=your-star-db-password
STAR_DB_NAME=your-star-db-name
STAR_DB_PORT=3306
STAR_DB_CHARSET=utf8mb4

HUGGINGFACE_TOKEN=your-huggingface-token
