DB_HOST=your-common-db-host
DB_USER=your-common-db-user
DB_PASSWORD=your-common-db-password
DB_NAME=your-common-db-name
DB_PORT=3306

FACE_DB_HOST=your-face-db-host
FACE_DB_USER=your-face-db-user
FACE_DB_PASSWORD=your-face-db-password
FACE_DB_NAME=your-face-db-name
FACE_DB_PORT=3306

BTDIG_DB_HOST=your-btdig-db-host
BTDIG_DB_USER=your-btdig-db-user
BTDIG_DB_PASSWORD=your-btdig-db-password
BTDIG_DB_NAME=your-btdig-db-name
BTDIG_DB_PORT=3306
BTDIG_DB_CHARSET=utf8mb4

HUGGINGFACE_TOKEN=your-huggingface-token
