# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/
.env/
.venv_move_no_face_torch/

# Logs
*.log
logs/
cache/

# IDE
.idea/

# Session
session/

# Generated
generated/

# Executables
*.exe

# Windows
Thumbs.db

.env

downloads/
