PyQt5==5.15.11
PyQt5-sip==12.18.0
av==18.0.0
opencv-python==5.0.0.93
python-vlc==3.0.21203
tensorflow==2.21.0
mysql-connector-python==9.7.0
Pillow==12.3.0
numpy==2.4.6
python-dotenv==1.2.2
customtkinter==6.0.0
mtcnn==1.0.0
setuptools<81

diffusers==0.39.0
transformers==5.14.1



