PyQt5==5.15.9
PyQt5-sip==12.15.0
av==17.1.0
opencv-python==4.10.0.84
python-vlc==3.0.21203
tensorflow==2.18.0
mysql-connector-python==8.1.0
Pillow==10.0.0
numpy==1.26.4
python-dotenv==1.0.1

diffusers==0.14.0
transformers==4.30.0



